.list {
    display: flex;
    // height: 250px;
    // background-color: red;

    &__item-temp {
        width: 10%;
        height: 100%;
        position: relative;
    }

    &__item-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: blue;
        height: 50px;
        width: 60%;
        transform: translate(-50%, -100%);

        &--is-minus {
            transform: translateX(-50%);
        }
    }

    &__temp-value {
        position: absolute;
        top: -25px;
        font-size: 10px;

        &--is-minus {
            top: auto;
            bottom: -25px;
        }
    }
}