.modal {

    &__overlay {
        @include flex-center;

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(213, 216, 208, 0.8);
        z-index: 1;
    }

    &__inner-wrapper {
        min-width: 200px;
        background-color: #6ad8ca;
        padding: 20px;
        position: relative;
    }

    &__title {
        text-align: center;
    }

    &__x {
        @include btn-reset;

        position: absolute;
        top: 0;
        right: 5px;
        font-size: 15px;
    }

    &__button-wrapper {
        @include flex-center;
    }
}