$surfer-sky-blue: #84d9ff;
$input-border-color: #038aaf;
$btn-bg: #a3d5e2;
$small-btn-bg: #f6fcb0;
$small-btn-bg-hov: #49ff94;
$btn-bg-hov: #f0ff49;
$input-bg: #ccdee2;
$card-bg: #dee5dc;
$title-color-hov: #f00;
